name: Deploy to Oracle Cloud

on:
  push:
    branches:
      - feature

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build with Maven
        run: mvn clean package

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        run: |
          echo "Building the Docker image..."
          docker build --no-cache -t trip-calculate .
          docker tag trip-calculate ${{ secrets.DOCKER_USERNAME }}/trip-calculate:latest
          echo "Pushing the Docker image..."
          docker push ${{ secrets.DOCKER_USERNAME }}/trip-calculate:latest

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Decode SSH key
        run: |
          echo "${{ secrets.ORACLE_CLOUD_KEY_BASE64 }}" | base64 -d > private_key
          chmod 600 private_key

      - name: Deploy to Oracle Cloud
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          ORACLE_INSTANCE_IP: ${{ secrets.ORACLE_INSTANCE_IP }}
        run: |
          ssh -o StrictHostKeyChecking=no -i private_key ubuntu@$ORACLE_INSTANCE_IP << EOF
            echo "Pulling the latest Docker image..."
            sudo docker pull $DOCKER_USERNAME/trip-calculate:latest

            echo "Stopping and removing the existing container..."
            sudo docker stop trip-calculate-container || true
            sudo docker rm trip-calculate-container || true

            echo "Running the new container..."
            sudo docker run -d -p 8080:8080 --name trip-calculate-container --restart unless-stopped "$DOCKER_USERNAME/trip-calculate:latest"

            echo "Checking running container..."
            sudo docker ps -a
            echo "Deployment complete."  
          EOF
